<table class="table">
  <thead>
    <tr>
      <!--LETRA OSCURA-->
      <th scope="col">#</th>
      <th scope="col">Imagen</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Precio</th>
      <th>Categoria</th>
      <th scope="col">Acciones</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let col of collectionProductos">
      <th scope="row">1</th>
      <td>
        <img src="{{col.imagen}}" alt="{{col.alt}}">
      </td>

      <td>{{col.nombre}}</td>
      <td>{{col.descripcion}}</td>
      <td>{{col.precio}}</td>
      <td>{{col.categoria}}</td> <!-- HOY-->

      <!-- Acciones-->
      <td>
        <!--BOTON EDITAR-->
        <button id="btn-acs" title="Editar" type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarProducto" (click)="mostrarEditar(col)"><mat-icon> edit</mat-icon></button>
        <!--BOTON ELIMINAR-->
        <button id="btn-acs"  title="Eliminar" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarProducto" (click)="mostrarBorrar(col)" ><mat-icon> delate</mat-icon></button>
      </td>

    </tr>

  </tbody>
</table>


<!-- BOTON PARA AGRERGAR PRODUCTOS-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#agregarProducto">
  Agregar un nuevo producto
</button>

<!-- MODAL PARA AGREGAR PRODUCTO -->
<div class="modal fade" id="agregarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese un nuevo producto:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div [formGroup]="producto" class="modal-body">

        <div class="mb-3">
          <label class="form-label"> Ingrese el nombre del producto:</label>
          <input class="form-control" type="text" fromControlName="nombre" placeholder="Ej: Producto color rosa">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese una imagen:</label>
          <input class="form-control" type="text" fromControlName="imagen"
            placeholder="Ej: Ingrese el vinculo de la imagen">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese un texto alternativo de la imagen :</label>
          <input class="form-control" type="text" fromControlName="alt" placeholder="Ej: Ingrese  un txto alternativo">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese una descrpcion:</label>
          <input class="form-control" type="text" fromControlName="descripcion"
            placeholder="Ej: Ingrese una descrpcion">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese el precio:</label>
          <input class="form-control" type="number" fromControlName="precio" placeholder="Ej: Ingrese un precio">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese una categoria:</label>

          <select class=" form-control" formControlName="categoria" class="form-select">
          <option selected >Elija una opcion</option>
          <option value="collares">Collares</option>
          <option value="juguetes">Juguetes</option>
          <option value="indumentaria">Indumentaria</option> 
        </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outiline-success" data-bs-dismiss="modal" (click)="agregarProducto()">Guardar </button>
        <button type="button" class="btn btn-outiline-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL PARA EDITAR PRODUCTO-->

<div class="modal fade"  *ngFor="let col of collectionProductos" id="editarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edite el siguiente producto:</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div [formGroup]="producto" class="modal-body">

        <div class="mb-3">
          <label class="form-label"> Ingrese el nombre del producto:</label>
          <input class="form-control" type="text" fromControlName="nombre" placeholder="{{col.nombre}}">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese una imagen:</label>
          <input class="form-control" type="text" fromControlName="imagen"
            placeholder="{{col.imagen}}">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese un texto alternativo de la imagen :</label>
          <input class="form-control" type="text" fromControlName="alt" placeholder="{{col.alt}}">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese una descrpcion:</label>
          <input class="form-control" type="text" fromControlName="descripcion"
            placeholder="{{col.descripcion}}">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese el precio:</label>
          <input class="form-control" type="number" fromControlName="precio" placeholder="Ej: Ingrese un precio">
        </div>

        <div class="mb-3">
          <label class="form-label"> Ingrese una categoria:</label>

          <select class=" form-control" formControlName="categoria" class="form-select">
          <option selected >Elija una opcion</option>
          <option value="collares">Collares</option>
          <option value="juguetes">Juguetes</option>
          <option value="indumentaria">Indumentaria</option> 
        </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outiline-success" data-bs-dismiss="modal" (click)="editarProducto()">Guardar </button>
        <button type="button" class="btn btn-outiline-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" *ngIf="modalVisibleProdcuto" id="eliminarProducto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Esta segurro de iliminar producto?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--MOSTRAR EL PRODUCTO QUE ELIMINAMOS -->
        {{productoSeleccionado.nombre}}
        <img src="{{productoSeleccionado.imagen}}" alt="{{productoSeleccionado.alt}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-denger" data-bs-dismiss="modal" (click)="borrarProducto()">Eliminar</button>
        <button type="button" class="btn btn-outiline-secondary" data-bs-dismiss="modal" >Cancelar</button>
      </div>
    </div>
  </div>
</div>

